<template>
  <div class="tabs-container">
    <Tabs class="tabs-container">
      <Tab
        v-for="(elephant, index) in elephants"
        v-bind:key="elephant.id"
        v-bind:name="elephant.name"
        v-bind:selected="index==0"
      >
        <ElephantItem v-bind:elephant="elephant" />
      </Tab>
    </Tabs>
  </div>
</template>

<script>
import ElephantItem from "./ElephantItem.vue";
import Tabs from "./Tabs";
import Tab from "./Tab";
export default {
  name: "Elephants",
  components: {
    ElephantItem,
    Tabs,
    Tab
  },
  elephants: null,
  props: ["elephants"]
};
</script>

<style>
.tabs-container {
  width: -webkit-fill-available;
  max-width: 750px;
  margin: 2rem;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .tabs-container {
    margin: 0;
    height: 100vh;
    border-top: 2px solid #fceff9;
  }
}
</style>
