<template>
  <div class="wrapper">
    <img class="image" :src="elephant.image" width="120" height="120" alt />
    <div class="details">
      <h3>{{ elephant.name }}</h3>
      <h4>{{ elephant.affiliation }}</h4>
      <a :href="elephant.wikilink">Checkout more info on this elephant</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "ElephantItem",
  props: ["elephant"]
};
</script>

<style scoped>
.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.image {
  border-radius: 50%;
  margin-right: 2rem;
}
.details a {
  background-color: #fceff9;
  padding: 0.5rem;
  color: #6c6f7f;
}

@media screen and (max-width: 425px) {
  .wrapper {
    justify-content: center;
  }

  .details a {
    font-size: 0.9rem;
  }
}
</style>
