<template>
  <header class="header">
    <img class="logo" src="../assets/logo.png" alt="logo" width="60" height="60" />
    <h1>Elephant List</h1>
  </header>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style>
.header {
  background: #5c6672;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header a {
  color: #ffffff;
  padding-right: 5px;
}
.logo {
  margin-right: 0.8rem;
}
</style>
