<template>
  <div class="tab" v-show="isActive" role="tab">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "Tab",
  props: {
    name: { required: true },
    selected: { default: false }
  },
  data() {
    return {
      isActive: false
    };
  },
  computed: {
    href() {
      // Start href with hash and add the name, Replace all spaces globally and replace with a dash
      return "#" + this.name.toLowerCase().replace(/ /g, "-");
    }
  },
  mounted() {
    // Set back to origin window.location.href
    history.replaceState(null, null, " ");
    this.isActive = this.selected;
  }
};
</script>

<style>
/* Style of the tab content */
.tab {
  color: #fff;
  background-color: #6c6f7f;
  padding: 50px 20px;
}
@media screen and (max-width: 425px) {
  .tab {
    height: -webkit-fill-available;
  }
}
</style>
