<template>
  <div>
    <div class="tabs">
      <ul>
        <li v-for="tab in tabs" :class="{'active': tab.isActive}" v-bind:key="tab.name">
          <a :href="tab.href" @click="selectTab(tab)">{{ tab.name }}</a>
        </li>
      </ul>
    </div>
    <div class="tabs-details">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "Tabs",
  data() {
    return {
      tabs: []
    };
  },
  created() {
    this.tabs = this.$children;
  },
  methods: {
    // Filter through all tabs with selected status set to false except the one user clicks
    selectTab(selectedTab) {
      this.tabs.forEach(tab => {
        tab.isActive = tab.name == selectedTab.name;
      });
    }
  }
};
</script>

<style>
/* Styling for tab list */

.tabs ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}
.tabs li:active {
  background-color: #6c6f7f;
}

.tabs li {
  border: none;
  display: inline;
  padding: 14px 16px;
  background-color: #5c6672;
}
/* Styling for tab links */
a {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  width: 25%;
}
li:hover {
  background-color: #6c6f7f;
}

@media screen and (max-width: 425px) {
  .tabs ul {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .tabs li {
    text-align: center;
    padding: 20px;
  }
  .details a {
    font-size: 0.9rem;
  }
}
</style>
