<template>
  <div class="app" id="app">
    <Header />
    <div v-if="isLoading" class="spinner">
      <Spinner />
    </div>
    <div v-else-if="error" class="error">
      <h2>{{ error }}</h2>
    </div>
    <div v-else class="wrapper">
      <Elephants v-bind:elephants="elephants" />
    </div>
  </div>
</template>

<script>
import Elephants from "./components/Elephants";
import Header from "./components/Header";
import axios from "axios";
import Spinner from "./components/Spinner";

export default {
  name: "app",
  components: {
    Elephants,
    Header,
    Spinner
  },
  data() {
    return {
      elephants: [],
      isLoading: true,
      error: ""
    };
  },
  created() {
    const proxy = "https://cors-anywhere.herokuapp.com/";
    axios
      .get(`${proxy}https://elephant-api.herokuapp.com/elephants/`)
      .then(res => {
        // No info in the docs with parameters to pass to fetch a limited number of objects

        // Generate a random number between 1 and 40 as the array length of the API is 53 but only 43 object containing data.
        const random = Math.floor(Math.random() * 40) + 1;
        // Our elephants array is generated randomly and outputting only 3 elephants objects
        this.elephants = res.data.splice(random, 3);
        // Remove the loader and display data instead
        this.isLoading = false;
      })
      .catch(err => {
        // We populate our error with the error message
        this.error = err;
        // Remove the loader in order to display error message on UI
        this.isLoading = false;
      });
  }
};
</script>

<style>
/* App color palette 
  Header & Tabs background: #5C6672
  Tab & Tabs active & spinner container: #6C6F7F
  Anchor Tag background: #FCEFF9
*/

* {
  box-sizing: border-box;
}

/* Set height of body and document to 100% */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}
.app {
  justify-content: center;
  align-items: center;
}
/* Wraps The Elephant Tabs */

@media screen and (min-width: 426px) {
  .wrapper {
    display: flex;
    justify-content: center;
  }
}
/* Spinner box styling */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6c6f7f;
  height: 100vh;
}

/* Error message container*/
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  height: 100vh;
}
</style>
